body {
	font-size: 16px;
	line-height: ;
	color: ;
	font-weight: ;
	font-family: "Roboto", "Arial", sans-serif;
}

.main-header {


	min-height: 500px;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;

	min-height: 500px;
}

.header-top {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;

	min-height: ;
}

.logo {
	float: left;
	width: 160px;
}

.main-menu {
	float: left;
	width: 600px;
	margin-top: 20px;

	background-color: #eee;
}

.user-block {
	float: right;
	width: 115px;
	margin-top: 20px;

	background-color: #eee;
}

