body {
	min-width: 1200px;

	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	font-family: "Roboto", "Arial", sans-serif;
	color: #000000;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

/* Header */

.main-header {
	margin-bottom: 80px;

	font-family: "Roboto Medium", "Arial", sans-serif;
	color: #000000;

	background-color: #eeeeee;
}

.header-top {
	padding-top: 50px;
	margin-bottom: 20px;
}

.logo-top {
	float: left;
	width: 160px;
	height: 65px;
	margin-right: 40px;
}

.main-menu {
	float: left;
	width: 760px;
	text-align: center;
}

.main-menu ul {
	margin: 0;
	padding: 0;

	list-style: none;
	font-size: 0;
}

.main-menu li {
	display: inline-block;

	font-size: 16px;
	line-height: 30px;
	vertical-align: top;
}

.main-menu a {
	display: block;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 28px;
	padding-bottom: 10px;

	color: #000000;
	text-decoration: none;
}

.main-menu a:hover,
.basket:hover {
	color: #fb565a;
}

.main-menu a:active,
.basket:active {
	color: rgba(0, 0, 0, 0.3);
}

.user-block {
	float: right;
	width: 140px;
}

.basket {
	position: relative;

	display: inline-block;
	padding-top: 28px;
	padding-left: 65px;

	font-size: 16px;
	line-height: 30px;
	vertical-align: top;
	color: #000000;
	text-decoration: none;
}

.basket::before {
	content: "";
	position: absolute;
	top: 33px;
	left: 26px;

	width: 15px;
	height: 15px;

	background: transparent url("../img/sprite.png") no-repeat;
	background-position: 0 0;
}

.welcome {
	font-size: 55px;
	margin-top: 76px;
	text-align: center;
}

.slider {
	font-family: "Roboto Regular", "Arial", sans-serif;
}

.slide-1_left {
	float: left;
	width: 380px;
	padding-top: 57px;
}

.slide-1_left b {
	font-size: 55px;
	line-height: 55px;
}

.btn {
	display: inline-block;
	margin-top: 35px;
	padding: 17px 45px;

	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	font-family: "Roboto Medium", "Arial", sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;

	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.pink {
	background-color: #fb565a;
}

.pink:hover {
	background-color: #e74246;
}

.pink:active {
	background-color: #d7373b;
	box-shadow: inset 0 3px 0 0 #c13135;
	color: #e48789;
}

.green {
	background-color: #00ca74;
}

.green:hover {
	background-color: #00bc6c;
}

.green:active {
	background-color: #00aa62;
    box-shadow: inset 0 3px 0 0 #009958;
    color: #4dc491;
}

.yellow {
	background-color: #efc84a;
}

.yellow:hover {
	background-color: #eab534;
}

.yellow:active {
	background-color: #e5a722;
	box-shadow: inset 0 3px 0 0 #cec265;
	color: #edc265;
}

.slide-1_right {
	float: right;
}

/*-- Main --*/

.features {
	margin-bottom: 80px;
}

.features-item {
	float: left;
	width: 300px;
	min-height: 348px;
	margin-right: 100px;
}

.features-item:last-child {
	margin-right: 0;
}

.features-item h2 {
	text-transform: uppercase;
}

.about {
	padding-top: 73px;
	padding-bottom: 77px;
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
}

.about h3 {
	margin-top: 42px;

	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
}

.column-1 {
	float: left;
	width: 680px;
}

.column-1 b {
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
}

.column-1 p {
	margin-top: 35px;
}

.column-1 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.column-1 li {
	position: relative;
	margin-bottom: 28px;
	padding-left: 37px;

	font-weight: 500px;
	font-size: 16px;
	line-height: 24px;
	font-family: "Roboto", "Arial", sans-serif;
}

.column-1 li::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 0;

	display: inline-block;
	width: 25px;
	height: 2px;
	background-color: #fb565a;
}

.column-2 {
	float: right;
	width: 360px;
}

.grid-about {
	margin: 0 -5px;
	font-size: 0;
}

.cell {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 18px;
	margin: 0 5px;

	margin-bottom: 15px;
}

.col_3 {
	width: calc(33.333333% - 10px);
}

.numbers {
	font-weight: 600;
	font-size: 45px;
	line-height: 45px;
}

.sup {
	vertical-align: super;
	font-size: 28px;
}

.partners {
	display: flex;
	justify-content: space-around;
	margin-top: 46px;
	padding-bottom: 44px;
	border-bottom: 2px solid #eeeeee;	
}

.logo {
	opacity: 0.2;
}

.logo:hover {
	opacity: 1;
}

.logo:active {
	opacity: 0.1;
}

.search {
	float: left;
	margin-top: 55px;

	background-color: #eeeeee;
}

.gallery {
	float: right;
	margin-top: 55px;
	width: 760px;

	background-color: #eeeeee;
}

.grid {
	margin: 0 -20px;
	font-size: 0;
}

.catalog-item {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	margin: 0 20px;
	margin-bottom: 40px;
}

.col_2 {
	width: calc(50% - 40px);
}



/*-- Footer --*/

.main-footer {
	margin-top: 80px;
}

iframe {
	width: 100%;
	height: 100%;
}

.footer-top {
	position: relative;
	height: 418px;
}

.contacts {
	position: absolute;
	top: -20px;
	float: left;
	box-sizing: border-box;
	width: 320px;
	margin-top: 135px;
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: #ffffff;
}

.footer-bottom {
	padding-top: 70px;
	padding-bottom: 70px;
}

.footer-social {
	display: block;
	float: left;
	width: 260px;
}

.footer-text {
	float: right;
	width: 700px;
	margin-right: 60px;
}